{% extends "vue_base.html" %}
{% load static i18n %}

{% block content %}
  <div id="app" style="padding: 10px; display: none">

    <div id="board" style="border: #3a8ee6 1px solid; width: 100%; height: calc(100vh - 50px); border-radius: 10px; overflow: hidden">
        <img id="p1" class="draggable" src="{{ p.p1.url }}" style="position: absolute; border-radius: 5px; top: {{ t1 }}px; left: {{ l1 }}px">
        <img id="p2" class="draggable" src="{{ p.p2.url }}" style="position: absolute; border-radius: 5px; top: {{ t2 }}px; left: {{ l2 }}px">
        <img id="p3" class="draggable" src="{{ p.p3.url }}" style="position: absolute; border-radius: 5px; top: {{ t3 }}px; left: {{ l3 }}px">
        <img id="p4" class="draggable" src="{{ p.p4.url }}" style="position: absolute; border-radius: 5px; top: {{ t4 }}px; left: {{ l4 }}px">
    </div>

    <div v-if="win" style="position: fixed; left: 0; top: 0; width: 100vw; height: 97vh; text-align: center; z-index: 2000">
        <img src="{% static zan %}" style="margin-top: 22px; width: 70%; max-height: 90%;" @click="next">
    </div>

  </div>
{% endblock %}


{% block script %}
  <script>
    var z = 1000
    var mp3= new Audio("{% static 'zan.mp3' %}")
    mp3.load()
    new Vue({
      el: '#app',
      data: function() {
        return {
            win: false,
        }
      },
      mounted() {
          vue = this
          $("#app").show()
          options={}
          options.stop = function(event, info) {
                // console.log(info.offset.left, info.offset.top)

                var x = parseInt("{{ x }}")
                var y = parseInt("{{ y }}")
                var x1 = parseInt($("#p1").css("left"))
                var y1 = parseInt($("#p1").css("top"))
                var x2 = parseInt($("#p2").css("left"))
                var y2 = parseInt($("#p2").css("top"))
                var x3 = parseInt($("#p3").css("left"))
                var y3 = parseInt($("#p3").css("top"))
                var x4 = parseInt($("#p4").css("left"))
                var y4 = parseInt($("#p4").css("top"))

                var d = 0
                d += Math.abs(x1 + x - x2)
                d += Math.abs(y1 - y2)
                d += Math.abs(x1 - x3)
                d += Math.abs(y1 + y - y3)
                d += Math.abs(x1 + x - x4)
                d += Math.abs(y1 + y - y4)

                if (d < 80) {
                    mp3.play()
                    setTimeout(function(){
                        vue.win = true
                    }, 6000)
                }

          }
          $(".draggable" ).draggable(options)
          $(".draggable").mousedown(function () {
              z++
              $(this).css('z-index', z)
          })
      },
      methods: {
          next(){
              top.location.href = '/?id={{ next_id }}'
          }
      }
    })
  </script>
{% endblock %}

